<div style="text-align: center"><h1 >Add Student</h1></div>


{{ form_start(formS) }}
{{ form_label(formS.firstName,"firstName") }}
{{ form_widget(formS.firstName) }}
{{ form_errors(formS.firstName) }}
{{ form_label(formS.lastName,"lastName") }}
{{ form_widget(formS.lastName) }}
{{ form_errors(formS.lastName) }}
{{ form_label(formS.Age,"Age") }}
{{ form_widget(formS.Age) }}
{{ form_errors(formS.Age) }}
{{ form_end(formS) }}


