<div style="text-align: center"><h1 >Update Student</h1></div>
{{ form_start(formU) }}
{{ form_label(formU.firstName,"firstName") }}
{{ form_widget(formU.firstName) }}
{{ form_errors(formU.firstName) }}
{{ form_label(formU.lastName,"lastName") }}
{{ form_widget(formU.lastName) }}
{{ form_errors(formU.lastName) }}
{{ form_label(formU.Age,"Age") }}
{{ form_widget(formU.Age) }}
{{ form_errors(formU.Age) }}
{{ form_end(formU) }}