<div style="text-align: center"><h1 >Add classroom</h1></div>
{{ form_start(formC) }}
{{ form_label(formC.name,"nameClassroom") }}
{{ form_widget(formC.name) }}
{{ form_errors(formC.name) }}
{{ form_end(formC) }}