<div style="text-align: center"><h1 >Update classroom</h1></div>

{{ form_start(formU) }}

{{ form_label(formU.name,"nameClassroom") }}
{{ form_widget(formU.name) }}
{{ form_errors(formU.name) }}
{{ form_end(formU) }}